<p id="notice"><%= notice %></p>

<p>
  <strong>Valortotal:</strong>
  <%= @contratos_plan.valorTotal %>
</p>

<%= link_to 'Edit', edit_contratos_plan_path(@contratos_plan) %> |
<%= link_to 'Back', contratos_plans_path %>
