<!DOCTYPE html>
<html>
<head>
  <title>Redsocial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<a href="#contenido" class="sr-only">Saltar al contenido</a>

	<div class="navbar navbar-default container-fluid" id="contenido">
		 	
	  <div class="">
	    
	    <ul class="nav navbar-nav visible-lg">

		 	<li class=""><h1 id="logoTitle"><a href="">FACEMUSIC</a></h1>	</li>
		 	<form class="navbar-form navbar-left" role="search">
		        <div class="col-xs-5">
		          <input type="text" class="form-control" placeholder="Que Buscas?">
		        </div>
		        <div class="col-xs-5">
		          <input type="text" class="form-control" placeholder="Donde?">
		        </div>
		        <button type="submit" class="btn btn-default">Buscar</button>
      		</form>
      		<li><a href="">Eventos</a></li>
      		<li><a href="">Publicidad</a></li>
      		<li><a href="">Servicios</a></li>
		 </ul>

		 <ul class="nav navbar-nav navbar-right " >
		 	<li><a href="" class="glyphicon glyphicon-envelope"></a></li>
		 	<li><a href="" class="glyphicon glyphicon-user"></a></li>
		 	<li><a href="" class=""></a></li>
		 	<li><a href="#">Inicio</a></li>
       		<li class="dropdown">
         	 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perfil <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#" class="glyphicon glyphicon-cog">Configuración</a></li>
	          </ul>
		 	</li>
		 </ul>
	  </div>
	</div>

<div class="">
<%= yield %>	
</div>


</body>
</html>
