<div class="clearfix visible-xs"></div>
<footer class="container-fluid">
	<div class="col-md-4">
		<h4>Quienes Somos</h4>
	</div>
	<div class="col-md-4">
		<h4>Contactos</h4>
		
	</div>
	<div class="col-md-4">
		<h4>Servicios</h4>
		
	</div>
</footer>
